<form action="/" method="post" id="tweet_form">
<h1>All Teh Twitterz!!!</h1>
<input type="text" id="tweet" name="tweet" placeholder="Tweet!!!"><br>
<input type="submit" value="Submit">
<ul id="errors"></ul>
</form>

